*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
    padding: px;
    background-color: black;
    color: white;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    /* margin-right: 25px */
}

.left-section{
    display: flex;
     align-items: center;
    justify-content: center; 
    color: white;
    margin-right: 50px;

}
.left-section img{
    margin-right: 20px;
}
.morebrands{
    display: flex;
    /* margin-left: 20px; */
    align-items: center;
    justify-content: center;
    margin-left: 40px; 
}
.right-section{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.stores{
    margin-right: 20px;
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
 
}
.login{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 30px;
}
.platform{
    display: flex;
     justify-content: center; 
    align-items: center;
    margin-right: 100px;
}
.image{
    display: flex;
    margin-left: 65px;
}
.products{
    display: flex;
    margin-left: 45px;
}
.newarrivals{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left: 10px;
}
.special-sizes{
    display: flex;
    margin-left: 20px;

}
.sale{
    display: flex;
    margin-left: 10px;
}
.giftcard{
    display: flex;
    margin-left: 10px;
}