*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 4vh;
    padding: 25px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    /* align-items:center;
    justify-content: center; */
    
}
/* .box{
    
    color: white;
    margin: 20px;
} */
.left-section{
    display: flex;
     align-items: start;
    justify-content: start; 
    color: white;

}
.left-section{
    margin-right:5px ;
}
.right-section{
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.login{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 10px;
}
