
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 60px;
    border-top-left-radius: 0cqw;
    margin-top: 250px;
}
#number{
    text-align: center;
    margin-left:470px ;
    font-size: 100px;
}
.container{
    text-align: center;
    width: 450px;
    height: 450px;
    margin-left: 430px;
}
#increasebtn  {
    
text-align: center;
}
#resetbtn{
  
    text-align: center;
}
#decreasebtn{
    text-align: center;
}


